<section class="w3l-cover-3">
    <div class="cover top-bottom">
        <div class="container">
            <div class="middle-section text-center">
                <div class="section-width">
                    <p>Geleceğin Evleri </p>
                    <h2>Kendine Ait Evi Bul </h2>
                    <div class="most-searches">
                        <h4>Sık Arananlar</h4>
                        <ul>
                            <li><a href="#link">Güneş Panelli Ev</a></li>
                            <li><a href="#link">Doğa Evleri</a></li>
                            <li><a href="#link">Akıllı Ev</a></li>
                        </ul>
                    </div>
                    <form action="#" class="w3l-cover-3-gd" method="GET">
                        <input type="search" name="text" placeholder="Anahtar kelimeyi girin" required>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Geleceğin Evini Seç</option>
                                <option>Yenilenebilir Enerji Evleri</option>
                                <option>Yenilenebilir Enerji Siteleri</option>
                                <option>Su Üstü Evler</option>
                                <option>Yeşil Alan Siteleri</option>
                                <option>Doğa Yaşam Evler</option>
                                <option>Geleceğin Şehir Evleri </option>

                            </select>
                        </span>
                        <span class="input-group-btn">
                            <select class="btn btn-default" name="ext" required>
                                <option selected="">Şehir Seçiniz</option>
                                <option>İzmir</option>
                                <option>Antalya</option>
                                <option>Muğla</option>
                                <option>Trabzon</option>
                                <option>Bursa</option>
                                <option>Mersin</option>

                            </select>
                        </span>
                        <button type="submit" class="btn btn-danger">Ara</button>

                    </form>
                </div>
                <section id="bottom" class="demo">
                    <a href="#bottom"><span></span>İlan Listesi</a>
                </section>
            </div>
        </div>
    </div>
</section>